@model SquidShopWebApp.Models.Cart
@{
    ViewData["Title"] = "CartView";
    double price = 0;
}
@if (Model.CartItems != null)
{
    @if (Model.CartItems.Count != 0)
    {
        @foreach (var item in Model.CartItems)
        {
            <div class="card mx-2 my-2" style="width: 8rem">
                <h4>@item.ProductName</h4>
                <img src="@("~/images/" + item.ImageName)" asp-append-version="true" />
                <div>
                @if (item.Discount != 0)
                {
                    <p>Price: @item.DiscountUnitPrice</p>
                    <p>Quantity: @item.Quantity</p>
                    <p class="text-success">Discount: @((item.UnitPrice - item.DiscountUnitPrice) * item.Quantity)</p>
                    <p>Total: @(item.DiscountUnitPrice * item.Quantity)</p>
                        price += item.DiscountUnitPrice * item.Quantity;
                }
                else
                {
                    <p>Price: @item.UnitPrice</p>
                    <p>Quantity: @item.Quantity</p>
                    <p>Total: @(item.UnitPrice * item.Quantity)</p>
                    price += item.UnitPrice * item.Quantity;
                }
                </div>
                <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                    <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                    <input class="input-group-text" style="width: 8rem" type="number" name="quantity" value="@item.Quantity" />
                    <input class="btn btn-primary" type="submit" value="Update" />
                </form>
                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                    <input class="btn btn-danger" type="submit" value="Remove" />
                </form>
            </div>
            
        }
        <div>
        <h6>Total Price</h6>
        <p>@price</p>
        <a class="btn btn-info" asp-controller="Products" asp-action="Index">Back</a>
        
        <a class="btn btn-success" asp-controller="Cart" asp-action="CreateUser">Next</a>
        </div>
    }
    else {
    <div>
        <h4>Your cart is empty</h4>
    </div>
    }
} 
else {
<div>
    <h4>Your cart is empty</h4>
</div>
}