@model SquidShopWebApp.Models.Cart

<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                  <h2>Shopping Cart</h2>
                    <p>Did you know that Squids Came About In The Jurassic Era</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                @if (Model.CartItems != null && Model.CartItems.Count != 0)
                                {
                                @foreach (var item in Model.CartItems)
                                {
                                <div class="product">
                                <div class="row">
                                <div class="col-md-3">
                                 <img class="img-fluid mx-auto d-block image" src="~/images/@item.ImageName" alt="@item.ProductName">
                                </div>
                                <div class="col-md-8">
                                <div class="info">
                                <div class="row">
                                <div class="col-md-5 product-name">
                                <div class="product-name">
                                <a>@item.ProductName</a>
                                <div class="product-info">
                                 @if (item.Discount != 0)
                                  {
                                <div>Price: <span class="value">@item.DiscountUnitPrice.ToString("C")</span></div>
                                <div>Quantity: <span class="value">@item.Quantity</span></div>
                                   <p class="text-success">Discount: @((item.UnitPrice - item.DiscountUnitPrice) * item.Quantity) kr</p>
                                   <p>Total: @(item.DiscountUnitPrice  * item.Quantity) kr</p>
                                      }
                                      else
                                      {
                                        <p>Price: @item.UnitPrice.ToString("C")</p>
                                        <p>Quantity: @item.Quantity</p>
                                      }
                                       </div>
                                    </div>
                                  </div>
                               <div class="col-md-4 quantity">
                                <label for="quantity">Quantity:</label>
                                <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                                <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                                <input id="quantity" type="number" class="form-control quantity-input" name="quantity" value="@item.Quantity">
                                <button type="submit" class="btn btn-primary">
                                <i class="bi bi-plus-square-dotted"></i>
                                </button>
                                    </form>
                                     <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                     <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                                     <button type="submit" class="btn btn-secondary">
                                     <i class="bi bi-trash"></i>
                                     </button>
                                    </form>
                               </div>
                                 <div class="col-md-3 price">
                                   @if (item.Discount != 0)
                                   {
                                    <span>@item.DiscountUnitPrice.ToString("C")</span>
                                   }
                                   else
                                   {
                                     <span>@item.UnitPrice.ToString("C")</span>
                                   }
                                </div>
                              </div>
                            </div>
                          </div>
                       </div>
                     </div>
                    }
                 <a type="button" class="btn btn-primary" asp-controller="Products" asp-action="Index">Back to products</a>
                }          
                 else
                 {
                 <div>
                   <h4>Your cart is empty</h4>
                </div>
                 }
               </div>
            </div>
        <div class="col-md-12 col-lg-4">
         <div class="summary">
         <h3>Summary</h3>
        @{
         double totalPrice = 0;
         double totalDiscount = 0;             
          @if (Model.CartItems != null && Model.CartItems.Count != 0)
           {
                foreach (var item in Model.CartItems)
                {
                   if (item.Discount != 0)
                   {
                    totalDiscount += (item.UnitPrice - item.DiscountUnitPrice) * item.Quantity;
                    totalPrice += item.DiscountUnitPrice * item.Quantity;
                   }
                   else
                   {
                         totalPrice += (item.UnitPrice * (1 - (double)item.Discount)) * item.Quantity;
                   }
                 }
                  
                 }
                 <div class="summary-item"><span class="text">Total Discount</span><span class="price">@totalDiscount.ToString("C")</span></div>
                 <div class="summary-item"><span class="text">Shipping</span><span class="price">0 Kr</span></div>
                 <div class="summary-item"><span class="text">Total</span><span class="price">@totalPrice.ToString("C")</span></div>       
               }
              <a type="button" class="btn btn-primary btn-lg btn-block" asp-controller="Cart" asp-action="CreateUser">Checkout</a>
                </div>
             </div>
          </div>
        </div>
      </div>
</section>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>