@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="accordation accordion-flush" id="accordionFlushExample">
    <div class="text-center"><h1>All orders</h1><br></div>
    @foreach (var item in Model)
    {
        <div class="accordation-item border-bottom">
            <h2 class="accordation header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@item.OrderId" aria-expanded="false" aria-controls="flush-@item.OrderId">
                    <div class="text-space">
                        @item.OrderId
                    </div>
                    <div class ="text-space">
                        @item.CreatedAt
                    </div>
                </button>
            </h2>
            <div id="flush-@item.OrderId" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><strong>Shipping adress:</strong> @item.ShippingAddress</p><br>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </div>
            </div>
        </div>
    }
</div>