@model IEnumerable<SquidShopWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-2 border border-primary rounded mx-2">
            <p>@item.ProductName</p>
            <img class="prodImg" src="@("~/images/" + item.ImageName)" asp-append-version="true" />
            <div>
                Price: @if (@item.Discount != 0)
                {
                    <div><span class="oldPrice">@item.UnitPrice</span> @item.DiscountUnitPrice</div>
                    <p class="text-success">@(item.Discount * 100)% Off!</p>
                }
                else
                {
                    @item.UnitPrice
                }
            </div>
            <p>In stock: @item.InStock</p>
            <div>
                <a asp-action="BuyProduct" asp-route-id="@item.ProductId">Buy</a>
                <a asp-controller="Products" asp-action="UpdateProduct" asp-route-productId="@item.ProductId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> 
                <a asp-action="DeleteProduct" asp-route-productId="@item.ProductId">Delete</a>
            </div>
        </div>
    }
</div>
