@model IEnumerable<SquidShopWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-2 border border-primary rounded mx-2">
            <p>@item.ProductName</p>
            <img class="prodImg" src="@("~/images/" + item.ImageName)" asp-append-version="true" />
            <div>
                Price: @if (@item.Discount != 0)
                {
                    <p class="oldPrice">@item.UnitPrice</p>

                    @item.DiscountUnitPrice
                    
                    <p class="text-success">@(item.Discount * 100)% Off!</p>
                }
                else
                {
                    @item.UnitPrice
                }
            </div>
            <div>
                <a asp-controller="Products" asp-action="UpdateProduct" asp-route-productId="@item.ProductId" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                @*<a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info"><i class="bi bi-card-text"></i></a>*@
                <a asp-controller="Products" asp-action="DeleteProduct" asp-route-productId="@item.ProductId" class="btn btn-danger"><i class="bi bi-x-square"></i></a>
            </div>
        </div>
    }
</div>
