
@model IEnumerable<SquidShopWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-2 border border-primary rounded mx-2">
            <p>@item.ProductName</p>
            <img class="prodImg" src="@("~/images/" + item.ImageName)" asp-append-version="true" />
            <div>
                Price: @if (item.Promotion != null && item.Promotion.DiscountProcent > 0)
                {
                    double discountPrice = item.UnitPrice * (1 - item.Promotion.DiscountProcent / 100);
                    <p class="oldPrice">@item.UnitPrice</p>
                    <p>@discountPrice</p>
                   <p class="text-success">@((1 - item.Promotion.DiscountProcent / 100) * 100)% Off!</p>

                  
                }
                else
                {
                    <p>@item.UnitPrice</p>
                }

                @if (item.Promotion != null && item.Promotion.DiscountProcent > 0)
                {
                    // Visa det nya priset om det finns en rabatt
                    double discountPrice = item.UnitPrice * (1 - item.Promotion.DiscountProcent / 100);
                    string message = "Rabatterat pris för:" + discountPrice;
                   
                }
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </div>
        </div>
    }
</div>
