@model IEnumerable<SquidShopWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center"><h1>Products</h1></div>

@*fixa sen så create bara är för admins*@

    <a asp-action="Create" class="btn btn-dark">Add new product</a>


<div class="row">
    @foreach(var item in Model)
    {
        <div class="card mx-2 my-2" style="width: 15rem">
            <p><strong>@item.ProductName</strong></p>
            <img class="prodImg align-self-center" src="@("~/images/" + item.ImageName)" asp-append-version="true" />
            <div class="card-body">
                Price: @if (@item.Discount != 0)
                {
                    <div><span class="oldPrice">@item.UnitPrice.ToString("c")</span> @item.DiscountUnitPrice.ToString("c")</div>
                    <p class="text-success">@(item.Discount * 100)% Off!</p>
                }
                else
                {
                    @item.UnitPrice.ToString("c")
                }
                <p>In stock: @item.InStock</p>
            </div>
            <div class="card-footer text-center text-body-secondary">
                <a class="" asp-action="BuyProduct" asp-route-id="@item.ProductId" data-bs-toggle="tooltip" data-bs-title="Add to cart"><i class="bi bi-cart-plus" style="font-size: 20px;color: cornflowerblue; padding-right:10px;"></i></a>
                <a asp-controller="Products" asp-action="UpdateProduct" asp-route-productId="@item.ProductId" data-bs-toggle="tooltip" data-bs-title="Update product"><i class="bi bi-pencil-square" style="font-size: 20px;color:lightgreen;padding-right:10px;"></i></a>
                <a asp-action="Details" asp-route-id="@item.ProductId" data-bs-toggle="tooltip" data-bs-title="Details"><i class="bi bi-list-ul" style="font-size: 20px;color:lightpink;padding-right:10px;"></i></a>
                <a asp-action="DeleteProduct" asp-route-productId="@item.ProductId" data-bs-toggle="tooltip" data-bs-title="Delete"><i class="bi bi-trash" style="font-size: 20px; color:red;padding-right:10px;"></i></a>
            </div>
        </div>
    }
</div>

